main {
    height: 93vh;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0;
}

.contenedor-izq {
    width: 60rem;
    height: 85%;
    margin-right: 5rem;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 50px;
    border-radius: 100%;
}

.input-texto {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 80px;
    width: 80%;
    height: 80%;
    font-size: 2rem;
    margin-bottom: 8.5rem;
    margin-top: 3.5rem;
    border-radius: 100%;
    background-image: url(/image/naturaleza.jpg);
}

.solo-letras {
    position: absolute;
    margin-top: -580px;
    margin-right: 660px;
    width: 260px;
    height: 20px;
    font-size: 15px;
    color: rgb(13, 73, 13);
}

.container-btns {
    position: absolute;
    width: 105rem;
    margin-top: 65rem;
}

.b-encriptar {
    margin: 0 6rem;
}

.b-desencriptar {
    margin-right: 13rem;
}

.b-copiar {
    margin-right: 7.5rem;
    opacity: 0.9;
}

.contenedor-der {
    width: 28rem;   
    height: 80%;
    margin-top: 0;
    box-shadow: 3px 3px 10px lightgrey;
    background: #6a9c89d0;
    border: 1px solid #697565;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    padding: 0 2rem;
}

.contenedor-texto {
    justify-content: flex-start;
}

.contenedor-texto p:nth-child(2) {
    margin-top: 70%;
    color: antiquewhite;
    font-size: 25px;
}

.texto2-contder {
    color: antiquewhite;
}

.output-texto {
    width: 90%;
    height: 65%;
    margin-top: 15%;
}

footer {
    margin: 1.5rem;
}